html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  color: #000000;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

._container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

._layout-2-column {
  display: flex;
  justify-content: space-between;
}

._content-end {
  display: flex;
  justify-content: end;
}

/*---------------------------------- section-title h2   ------------------------------------- */

.section-title {
  padding: 20px 0 60px;
}

.h2 {
  position: relative;
  text-align: center;
  color: #0c0c0e;
  font-family: Forum;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #0c0c0e;
  left: calc(50% - 25px);
  top: 60px;
}

/* ------------------------- header ------------------------------------------------*/

.header__container {
  display: flex;
  min-height: 90px;
  background: #0c0c0e;
  align-items: center;
}

.header__logo {
  display: flex;
  flex: 1 1 auto;
  color: #ffffff;
  font-family: Forum, sans-serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  transition: all 0.5s;
}

.navigation__list {
  display: flex;
  gap: 30px;
  padding-right: 40px;
}

.navigation__link {
  color: #ffffff;
  line-height: 50px;
  transition: all 0.5s;
}

.header__icon {
  background: url(../images/profile/icon_profile.svg);
  width: 28px;
  height: 28px;
  transition: all 0.5s;
}

.icon:hover {
  cursor: pointer;
}

@media(hover: hover) {

  .header__logo-link:hover,
  .navigation__link:hover {
    color: #bb945f;
    text-decoration: underline;
    transition: all 0.5s;
  }

  .header__icon:hover {
    background: url(../images/profile/icon_profile_hover.svg);
    transition: all 0.5s;
  }
}

/* ------------------  welcome   ----------------------- */

.welcome__container {
  position: relative;
  height: 600px;
  padding: 0;
  background-image: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.10) 50%, transparent 50%), url(../images/welcome/01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome__content {
  position: absolute;
  top: 220px;
  background-color: #0c0c0e;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  color: #ffffff;
  text-align: center;
  font-family: Forum, sans-serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ------------------- About ------------------------------------*/

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;
}

.about__content {
  text-align: center;
  line-height: 40px;
  margin-bottom: 20px;
}

.about__carousel {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.about__pagination {
  display: flex;
  margin: 0 auto;
}

.pagination-button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.pagination-item {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #0c0c0e;
  border-radius: 50%;
}

.pagination-item-selected {
  background-color: #bb945f;
}

/*----------------------------------- Favorites ----------------------------*/

.favorites__container {
  margin-bottom: 40px;
}

.favorites__content {
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.season__list {
  display: flex;
  gap: 90px;
  margin-bottom: 40px;
}

.season__item {
  cursor: pointer;
}

.season__item input {
  accent-color: #000000;
  width: 15px;
  height: 15px;
  margin: 0;
  cursor: pointer;
}

input:checked+.season__label {
  font-weight: 700;
}

.input-wrapper {
  /* display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0px solid #000000;
  margin-right: 17px; */
  /* cursor: pointer; */
}

.season__label {
  padding-left: 17px;
  cursor: pointer;
}

.input:checked+.season__label {
  cursor: default;
}

@media(hover: hover) {
  .season__label:hover:not(:checked+.season__label) {
    text-decoration: underline;
    transition: all 0.5s;
  }
}

.favorites__books {
  display: flex;
  flex-wrap: wrap;
  column-gap: 260px;
  row-gap: 40px;
}

.favorites__book {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #000000;
  width: 550px;
  max-height: 555px;
  padding: 15px 0 13px 20px;
}

.favorites__book-hidden {
  display: none;
}

.favorites__book-title {
  position: relative;
  color: #000;
  font-family: Forum;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.favorites__book-title::after {
  position: absolute;
  content: " ";
  left: 0;
  top: 38px;
  width: 60px;
  height: 1px;
  background: #bb945f;
}

.favorites__book-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.favorites__book-author {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.favorites__book-description {
  max-width: 355px;
  flex: 1 1 auto;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.favorites__book-button {
  max-width: 75px;
  min-height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  padding: 5px 5px;
  color: #0C0C0E;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}

@media(hover: hover) {
  .favorites__book-button:hover:not(:disabled) {
    border: 1px solid #bb945f;
    background: #bb945f;
    transition: all 0.5s;
  }
}

.book-button-own {
  border-color: #bb945f;
  color: #bb945f;
}

.book-button-own:disabled {
  cursor: default;
}

.favorites__book-image {
  position: absolute;
  right: -40px;
  bottom: 0;
}

/*------------------------- Coffee-Shop --------------------------------*/

.coffee-shop__content {
  margin-bottom: 40px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
}

.menu-card__title {
  color: #bb945f;
  font-family: Forum, sans-serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 43px;
}

.menu-card__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
}

.menu-card__name {
  flex: 1 1 auto;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-card__line {
  width: 100px;
  height: 1px;
  background: #bb945f;
}

.menu-card__price {
  font-family: Forum, sans-serif;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/*------------------------------- Contacts ------------------------------*/

.contacts__container {
  margin-bottom: 40px;
}

.contacts__phone-title {
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.phone-title-staff {
  margin-bottom: 20px;
}

.contacts__phone-list {
  margin-bottom: 40px;
}

.contacts__phone-item {
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

@media(hover: hover) {
  .contacts__phone_link:hover {
    text-decoration: underline;
  }
}

.contacts__phone-director {
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.contacts__phone-director_link {
  font-weight: 700;
}

@media(hover: hover) {
  .contacts__phone-director_link:hover {
    text-decoration: underline;
  }
}