html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  color: #000000;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------------- header ------------------------------------------------*/

.header__container {
  display: flex;
  min-height: 90px;
  background: #0c0c0e;
  align-items: center;
}

.header__logo {
  display: flex;
  flex: 1 1 auto;
  color: #ffffff;
  font-family: Forum, sans-serif;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  text-transform: capitalize;
  transition: all 0.5s;
}

.navigation__list {
  display: flex;
  gap: 30px;
  padding-right: 40px;
}

.navigation__link {
  color: #ffffff;
  line-height: 50px;
  transition: all 0.5s;
}

.header__icon {
  background: url(../images/profile/icon_profile.svg);
  width: 28px;
  height: 28px;
  transition: all 0.5s;
}

.icon:hover {
  cursor: pointer;
}

@media(hover: hover) {

  .header__logo-link:hover,
  .navigation__link:hover {
    color: #bb945f;
    text-decoration: underline;
    transition: all 0.5s;
  }

  .header__icon:hover {
    background: url(../images/profile/icon_profile_hover.svg);
    transition: all 0.5s;
  }
}

/* ------------------  welcome   ----------------------- */

.welcome__container {
  position: relative;
  height: 600px;
  padding: 0;
  background-image: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.10) 50%, transparent 50%), url(../images/welcome/01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome__content {
  position: absolute;
  top: 220px;
  background-color: #0c0c0e;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
}

.welcome__title {
  color: #ffffff;
  text-align: center;
  font-family: Forum, sans-serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}